body {
    font-family: 'Poppins', sans-serif;
    padding: 15px; 


  }
 
  .aboutMe {
    padding-bottom: 25px; 

  }

  h1{ 
    color: #240404;
    font-weight: bold;
    text-align: left; 
    width : 300px;
}

  .addingCharacter {
    height: 250px;
    max-height: 500px;
    background-image: url(../images/PageHeader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  } 

  .flexContainer {
    display: flex; 
    width: 33% 33% 33%; 
    margin: 1px; 
    margin-left: black;
    margin-right: black; 
    padding: 2px; 
    flex-direction: row; 
  }

.logo { 
    width: 21%; 
    padding: 1%; 
}
.left, .center, .right {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  width: 25%;
}
.center {
  width: 50%;
}

.inline-blockandlogo{ 
  display: flex;
  padding: 20px;
}

.inline-block{ 
  background-color: #ffffff; 
  overflow: hidden; 
  color: black; 
}

.inline-block li{ 
  float:left; 
  display: block; 
  color: black; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration:none; 
  font-size: 17px; 
}


/* Underline the link when hover */ 
.inline-block li:hover { 
  text-decoration: underline; 
}

/* Add an active class to highlight the current page */ 
.inline-block li.active { 
text-decoration: underline; 
color: D0CBA1; 
text-emphasis: bold; 
}

/* Hide the link that should open and close the topnav on small screens */ 
.inline-block .icon{ 
  display: none; 
}

.leidy {
  border-radius: 45%; 
  padding: 30px; 
}

.heroImg {
  height: 400px; 
 
}

p{ 
  padding: 5 px; 
}
.contentLeidy { 
  width: 500px; 
  content: left;
  padding: 5 5 5 5; 
}
  /* Work Grid CSS */

  #work {
    text-shadow: 2px 2px 5px #D0CBA1; 
    font-size: 24px;
    color: #030303;
    padding-left: 12px; 
  }

  #myskills {
    text-shadow: 2px 2px 5px #D0CBA1;
    font-size: 24px;
    color: #030303; 
    padding-left: 12px;
  }
  #workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "dcMetro doiRedesign"
    "travelApp projectFour";  
  }

  .flexContainer {
    margin: 0px 5%;
    display: center grid;
    
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "userResearch ideation analysis"
  }

  #mySkillsPictures{
    width: 530px;
    height: 430px;
    padding: 3px;
  }
  url:hover {
    opacity: 0.5;
  }
  
  #dcMetro {
    grid-area: dcMetro;
    background-image: url("../images/dCMetroPortfolio2.PNG");   
  
  }
  #doiRedesign {
    grid-area: doiRedesign;
    background-image: url("../images/doiRedesignPortfolio.png");  
  }
  

  #travelApp {
    grid-area: travelApp;
    background-image: url("../images/AllInOneTravel.png"); 
  }
  
  #projectFour {
    grid-area: projectFour;
    background-image: url("../images/Project4.png");
  }
  
  .workGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: #D0CBA1; 
    padding: 2px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid  rgb(0, 0, 0);
  }
  
  #description{ 
    padding-left: 15px;
    position: center;
    width: 500px; 
  }
/* Footer CSS */
footer { 
  background-color: #ffffff; 
  padding: 20px; 

}
.footerUl{ 
  display:inline-block; 
  vertical-align: top; 
}

.inline-block{ 
  vertical-align: top;
  display: inline-block; 
}

li {
  padding: 15px; 
}

  
  /* Typography CSS */
  
  
  h3 {
    font-weight: 300px;
    margin: 0px 0px;
    color:  #D0CBA1; 
    font: bold; 
  }
  
  #leidyarias{
    padding: 30px;
    display: flex; 
  }
  h4 {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }

  #viewAllProjects {
    color: blue; 
    text-decoration: underline;  
    text-align: right;
    padding-right: 5px; 
  }

  #learnMore {
    color: blue; 
    text-decoration: underline; 
    padding-left: 5px;
    text-align: right;
    padding-right: 5px; 
  }
  
  
  #headline p {
    max-width: 350px;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;} 

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

    @media only screen and (max-width: 600px) { 
      #headline {
        position: static;
        margin: 20px;
      }
    
      #tab { 
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "Passionate"
        "Innovativen"
        "Reliable";
      }

      #workGrid { 
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "dcMetro"
        "doiRedesign"
        "travelApp"
        "projectFour";
      }

      #flexContainer {
        flex-direction: column;
      
      }

      #flexContainer div {
        width: 100%; 
      }

      #flexContainer{ 
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px; 
        grid-template-areas:
        "userResearch"
        "ideation"
        "analysis"
        ;
      }
    }

    .inline-block .icon {
      display: none;
    }
    
    @media screen and (max-width: 600px) {
      .inline-block li:not(:first-child) {display: none;}
      .inline-block li.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 600px) {
      .inline-block.responsive {position: relative;}
      .inline-block.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .inline-block.responsive li {
        float: none;
        display: block;
        text-align: left;
      }
    }